* {
box-sizing: border-box;
margin:0;
padding:0;
}
nav {
  width:100%;
  height:100px;
  border:1px solid red;
}
.blue {
  background-color: blue;
}
.container {
  width:85%;
  height:100%;
  margin:0 auto;
}
.logo {
  width:15%;
  height:100%;
  border:1px solid red;
  float:left;
}
.options {
  width:40%;
  height:100%;
  float:left;
  border: 1px solid red;
}
.login {
width:45%;
height:100%;
border: 1px solid red;
float:right;
}
.choose {
  width:100%;
  height:400px;
}
.col1 {
  width:100%;
  height:100%;
  float:left;
  border:1px solid red;
  position: relative;
}
.traditional {
  width:100%;
  height:180px;
  border:1px solid red;
  background-color: #e8eaed;
  position: relative;
}
.textCenter {
  text-align: center;
}
.traditionalText {
  width:70%;
  height: 50%;
  border:1px solid red;
  margin:0 auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.traditionalText h1, p {
  padding-top:15px;
}
.traditionalText p {
  color:#58595b;
}

.offer {
  width:100%;
  height: 450px;
  border:1px solid red;
}
.col3 {
  width:33.33%;
  height:100%;
  float:left;
  border:1px solid red;
}
.discover {
  width:100%;
  height: 420px;
}
.col2 {
  width:50%;
  height:100%;
  float:left;
  border:1px solid red;
}
.chooseText {
  width:50%;
  height:50%;
  border:1px solid red;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  color:white;
  font-size: 180%;
}
.plan {
  text-decoration: none;
  color:white;
  background-color: green;
  font-size: 70%;
  padding:2%;
  border-radius: 5px;
}
  .plan2 {
  position: absolute;
  top:60%;
}
